.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0;
}

.header {
    background-color: #FFF8F3;
    background-image: url('Images/developer.png'), url('Images/header_bg.png');
    background-position: left, right bottom;
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;

}

nav .nav-title {
    font-size: 45px;
    font-weight: 800;

}

nav .nav-title span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 68px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.btn-primary {
    border: none;
    width: 200px;
    height: 64px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FD6E0A;
    margin-right: 20px;


}

.Contact {
    border: 2px solid #FD6E0A;
    background-color: #FFF8F3;
    color: #FD6E0A;

}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;


}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
}

.banner-name {
    font-size: 80px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
}

main {

    max-width: 1140px;
    margin: 0 auto;

}

.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    text-align: center;
    padding: 130px;
    margin: 120px 0px;
}

main .about h4 {
    font-size: 35px;
}

main .about p {
    font-size: 18px;
}

main .infos {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: gray;
}

.info-description {
    font-size: 20px;
    font-weight: 600;
}

.skill-section h4 {
    font-size: 35px;
    text-align: center;
}

.skill-section .description {
    font-size: 18px;
    text-align: center;
}

.skills img {
    height: 40px;
    width: 40px;
}

.skills {
    display: flex;
    gap: 25px;


}

.skills div {
    padding: 30px;
    box-shadow: 2px 2px 50px rgb(212, 212, 212);
    border-radius: 10px;
    margin: 100px 0;
}

.resume-container {
    display: flex;
    gap: 25px;
}

.resume-container .edu-title {
    font-size: 30px;
}

.resume-container h5 {
    font-size: 25px;
}

.resume-container p {
    font-size: 20px;
}

.second-download {
    display: flex;
    justify-content: center;
    margin: 100px;
}

footer {
    display: flex;
    background-color: #FFF8F3;
    gap: 100px;
    padding: 150px;
}

footer input[type="text"],
footer input[type="email"] {
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 20px;
    display: block;
}



.message-me textarea {
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 20px;
    display: block;
}